flask 
flask-cors 
python-dotenv 
supabase 
postgrest 
requests
PyMuPDF 
spacy 
dash 
plotly 
matplotlib
pdfplumber
networkx 
google-generativeai 
beautifulsoup4 
lxml
pillow==10.4.0
numpy==1.26.4
streamlit
adjustText
